In [12]:
import pandas as pd
import numpy as np
import os

In [13]:
os.getcwd()

'/Users/jennylee/CFFS-PyCharm/notebooks'

In [53]:
ams = pd.read_csv("AMS_initial.csv")
ams.head(30)

,ConversionId,Multiplier,ConvertFromQty,ConvertFromUom,ConvertToQty,ConvertToUom
0,I-0,1.000,1000.00,g,1000.000,g
1,I-2,1.000,1.00,g,1.000,g
2,I-5,0.000,0.05,ea,999.000,g
3,I-6,1.000,30.00,g,30.000,g
4,I-7,1.000,45.00,g,45.000,g
5,I-8,1.000,15.00,g,15.000,g
6,I-9,453.592,36.00,lb,16329.312,g
7,I-10,1.000,1000.00,g,1000.000,g
8,I-11,1.000,250.00,g,250.000,g
9,I-12,1.000,2724.00,g,2724.000,g
10,I-13,1000.000,12.00,L,12000.000,g
11,I-14,0.000,35.00,ea,999.000,g
12,I-15,1.000,250.00,g,250.000,g
13,I-16,1.000,50.00,g,50.000,g
14,I-17,1.000,600.00,g,600.000,g
15,I-18,1.000,100.00,g,100.000,g
16,I-19,1.000,750.00,g,750.000,g
17,I-20,1.000,250.00,g,250.000,g
18,I-21,1.000,1500.00,g,1500.000,g
19,I-22,1.000,2.84,ml,2.840,ml
20,I-23,0.000,3.00,BUNC,999.000,g
21,I-24,1.000,120.00,g,120.000,g
22,I-25,1.000,12.00,g,12.000,g
23,I-26,1.000,2.10,g,2.100,g
24,I-27,1.000,18.00,g,18.000,g
25,I-28,1.000,60.00,g,60.000,g
26,I-29,0.000,2.84,fl,999.000,g
27,I-30,1000.000,1.80,L,1800.000,g
28,I-31,1.000,600.00,ml,600.000,ml
29,I-32,0.000,3.00,NaN,999.000,g

In [23]:
items = pd.read_csv("data/AMS/preprocessed/Independent_Items.csv")
items

    ItemId                            Description      Qty UOM PrepId
0      I-0            Radish - Daikon              1000.00   g    P-0
1      I-2            NORI KIZAMI BTL                 1.00   g    P-1
2      I-5             Lettuce - Butter               0.05  ea    P-1
3      I-6            TOMATO - 6 X 7 MED             30.00   g    P-1
4      I-7             2022 KFC Sauce                45.00   g    P-1
..     ...                                    ...      ...  ..    ...
120  I-131       SUGAR GRANULATED FI N               15.00   g   P-23
121  I-133         PFO OIL CANOLA JIB  AN T        3000.00  ml   P-25
122  I-134                    THYME                  50.00   g   P-25
123  I-135   Chicken Flat Thigh s/onknu c            50.00  lb   P-26
124  I-136      2022 Chicken Marinate              2100.00   g   P-26

[125 rows x 5 columns]

In [57]:
check = pd.read_csv("data/AMS/preprocessed/Pure_Ingredients_List.csv")
check.head(30)

,ConversionId,Multiplier,ConvertFromQty,ConvertFromUom,ConvertToQty,ConvertToUom
0,I-0,1.000,1000.00,g,1000.000,g
1,I-2,1.000,1.00,g,1.000,g
2,I-6,1.000,30.00,g,30.000,g
3,I-7,1.000,45.00,g,45.000,g
4,I-8,1.000,15.00,g,15.000,g
5,I-9,453.592,36.00,lb,16329.312,g
6,I-10,1.000,1000.00,g,1000.000,g
7,I-11,1.000,250.00,g,250.000,g
8,I-12,1.000,2724.00,g,2724.000,g
9,I-13,1000.000,12.00,L,12000.000,g
10,I-15,1.000,250.00,g,250.000,g
11,I-16,1.000,50.00,g,50.000,g
12,I-17,1.000,600.00,g,600.000,g
13,I-18,1.000,100.00,g,100.000,g
14,I-19,1.000,750.00,g,750.000,g
15,I-20,1.000,250.00,g,250.000,g
16,I-21,1.000,1500.00,g,1500.000,g
17,I-22,1.000,2.84,ml,2.840,ml
18,I-24,1.000,120.00,g,120.000,g
19,I-25,1.000,12.00,g,12.000,g
20,I-26,1.000,2.10,g,2.100,g
21,I-27,1.000,18.00,g,18.000,g
22,I-28,1.000,60.00,g,60.000,g
23,I-30,1000.000,1.80,L,1800.000,g
24,I-31,1.000,600.00,ml,600.000,ml
25,I-33,1.000,150.00,g,150.000,g
26,I-34,1.000,50.00,g,50.000,g
27,I-36,1.000,30.00,g,30.000,g
28,I-37,1.000,5.00,g,5.000,g
29,I-38,1.000,1.00,g,1.000,g

In [77]:
ghge_df = pd.read_csv("match_final.csv")
ghge_df

,ProdId,Weight (g),Total CO2 Emission (g),Total Nitrogen Emission (g),Total Freshwater Withdrawals (mL),Total CO2 Emission (g) (100),Total Nitrogen Emission (g) (100),Total Freshwater Withdrawals (L) (100)
0,P-0,1000.000,3.062000e+05,7900000.0,9900000.0,306.200000,7.900000,9.900000
1,P-1,364.000,2.313340e+04,667150.0,4649925.0,63.553297,1.832830,12.774519
2,P-2,52737.936,3.812518e+07,103092940.8,132673459.2,722.917543,1.954816,2.515712

In [42]:
ghge_factors = pd.read_csv("data/external/ghge_factors.csv")
ghge_factors

,Category ID,Food Category,Active Total Supply Chain Emissions (kg CO2 / kg food)
0,1,beef & buffalo meat,41.3463
1,2,lamb/mutton & goat meat,41.6211
2,3,pork (pig meat),9.8315
3,4,"poultry (chicken, turkey)",4.3996
4,5,butter,11.4316
...,...,...,...
56,57,vinegar,1.9300
57,58,sauces & paste,0.0000
58,59,manually adjusted,0.0000
59,60,human labor,0.0000
60,61,kitchen supplies,0.0000

In [63]:
n_factors = pd.read_csv("data/external/nitrogen_factors.csv")
n_factors

    Category ID              Food Category  g N lost/kg product
0             1        beef & buffalo meat               329.50
1             2    lamb/mutton & goat meat               231.15
2             3            pork (pig meat)               132.80
3             4  poultry (chicken, turkey)               116.80
4             5                     butter               100.35
..          ...                        ...                  ...
56           57                   vinegar                  0.00
57           58             sauces & paste                 6.75
58           59          manually adjusted                 0.00
59           60                human labor                 0.00
60           61           kitchen supplies                 0.00

[61 rows x 3 columns]

In [74]:
water_factors = pd.read_csv("data/external/water_factors.csv")
water_factors

,Category ID,Food Category,Freshwater Withdrawals (L/FU),Stress-Weighted Water Use (L/FU)
0,1,beef & buffalo meat,1677.200,61309.000
1,2,lamb/mutton & goat meat,461.200,258.900
2,3,pork (pig meat),1810.300,54242.700
3,4,"poultry (chicken, turkey)",370.300,333.500
4,5,butter,1010.176,50055.168
...,...,...,...,...
56,57,vinegar,1.000,1.000
57,58,sauces & paste,20.225,1134.925
58,59,manually adjusted,0.000,0.000
59,60,human labor,0.000,0.000
60,61,kitchen supplies,0.000,0.000