# Climate-Friendly Food Systems (CFFS) Labelling Project

### The University of British Columbia

****

## Category ID for Assigned Items

## Imports and setup

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import xml.etree.ElementTree as et
from xml.etree.ElementTree import parse

In [2]:
# RUN ONLY ONCE
# os.chdir is used to change the current directory to the specified path
os.chdir("../../") # Sets path to the repo folder as it is one level above where this file exists!
path = os.getcwd()
print(path)

/Users/vivaanwadhwa/Documents/GitHub/CFFS_sharon_2024

***
## Load Data Files

In [3]:
consolidated_df = pd.read_csv(os.getcwd() + "/data/Misc/Consolidated_purchases/OK_consol_purchases_march1_april21.csv")
consolidated_df.head()

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,prod_group_descrip,order_code,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount
0,252033,M123033004,-172.0,69025,-59.0,-123.9,-123.9,each,2.1,CANDIED CINNAMON ALMOND,...,CANDIES SNACKS,KK051094,N,1.0,1.0,each,7,Candy,N,0
1,252099,0252099,153.3,69025,15.0,31.5,31.5,each,2.1,CANDIED CINNAMON ALMOND,...,CANDIES SNACKS,KK051094,N,1.0,1.0,each,7,Candy,N,0
2,252100,0252099,-153.3,69025,-15.0,-31.5,-31.5,each,2.1,CANDIED CINNAMON ALMOND,...,CANDIES SNACKS,KK051094,N,1.0,1.0,each,7,Candy,N,0
3,252099,0252099,153.3,68933,14.0,29.4,29.4,each,2.1,CANDIED COCONUT ALMO,...,CANDIES SNACKS,KK051093,N,1.0,1.0,each,7,Candy,N,0
4,252100,0252099,-153.3,68933,-14.0,-29.4,-29.4,each,2.1,CANDIED COCONUT ALMO,...,CANDIES SNACKS,KK051093,N,1.0,1.0,each,7,Candy,N,0

In [4]:
categories_df = pd.read_csv(os.getcwd() + "/data/Misc/GHG_categories/ghge_factors.csv")
categories_df

,Category ID,Food Category,Active Total Supply Chain Emissions (kg CO2 / kg food)
0,1,beef & buffalo meat,41.3463
1,2,lamb/mutton & goat meat,41.6211
2,3,pork (pig meat),9.8315
3,4,"poultry (chicken, turkey)",4.3996
4,5,butter,11.4316
...,...,...,...
58,59,manually adjusted,0.0000
59,60,human labor,0.0000
60,61,kitchen supplies,0.0000
61,62,mushrooms,1.5000
62,63,herbs,0.5029

In [5]:
items_list = pd.read_csv(os.getcwd() + '/data/mapping/Items_List_Assigned.csv')
items_list

,ItemId,CategoryID,Description,CaseQty,CaseUOM,PakQty,PakUOM,InventoryGroup
0,I-57545,1,CHUCK FLAT BONELESS FZN,3.30,Kg,1.0,Kg,MEAT
1,I-10869,1,BEEF STIRFRY COV FR,5.00,Kg,1.0,Kg,MEAT
2,I-7064,1,BEEF OUTSIDE FLAT AAA,1.00,Kg,1.0,Kg,MEAT
3,I-37005,1,BEEF MEATBALLS,4.54,Kg,1000.0,g,MEAT
4,I-37002,1,BEEF INSIDE ROUND SHAVED,9.00,Kg,1000.0,g,MEAT
...,...,...,...,...,...,...,...,...
2816,I-17622,24,WAFFLES BLUBRRY - GF/WF,12.00,box,6.0,ea,FOOD - GROCERY
2817,I-45754,55,WATER ACTIVE LEMON LIME,12.00,450ML,1.0,450ML,BEVERAGE
2818,I-45755,55,WATER ACTIVE ORANGE MANGO,12.00,450ML,1.0,450ML,BEVERAGE
2819,I-45756,55,WATER ACTIVE STRAWB BLK CHERRY,12.00,450ML,1.0,450ML,BEVERAGE
2820,I-43251,55,WATER FRUIT 500ML PINEAPPLE,12.00,500ML,1.0,bottle,BEVERAGE

In [6]:
consolidated_df.columns

Index(['invoice_counter', 'invoice_num', 'invoice_total', 'item_num', 'qty',
       'line_amount', 'adj_line_amount', 'uom', 'unit_cost', 'item_descrip',
       'invoice_date', 'supplier_name', 'store_num', 'type_bill_credit',
       'cost_over_ride', 'line_amount_qty', 'case_uom', 'supplier_num',
       'prod_group_num', 'prod_group_descrip', 'order_code', 'compute_0022',
       'pak_qty', 'case_qty', 'purchase_uom', 'cat_num', 'cat_descrip',
       'has_credit', 'credit_pak_amount'],
      dtype='object')

In [7]:
# if item_num == items_list ItemId then match the category with it
consolidated_df["item_num"] = consolidated_df["item_num"].astype(str) #Just to avoid warnings
for index, row in consolidated_df.iterrows():
    cos_id = "I-" + str(row['item_num'])
    consolidated_df.loc[index, 'item_num'] = cos_id

In [8]:
consolidated_df.head()

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,prod_group_descrip,order_code,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount
0,252033,M123033004,-172.0,I-69025,-59.0,-123.9,-123.9,each,2.1,CANDIED CINNAMON ALMOND,...,CANDIES SNACKS,KK051094,N,1.0,1.0,each,7,Candy,N,0
1,252099,0252099,153.3,I-69025,15.0,31.5,31.5,each,2.1,CANDIED CINNAMON ALMOND,...,CANDIES SNACKS,KK051094,N,1.0,1.0,each,7,Candy,N,0
2,252100,0252099,-153.3,I-69025,-15.0,-31.5,-31.5,each,2.1,CANDIED CINNAMON ALMOND,...,CANDIES SNACKS,KK051094,N,1.0,1.0,each,7,Candy,N,0
3,252099,0252099,153.3,I-68933,14.0,29.4,29.4,each,2.1,CANDIED COCONUT ALMO,...,CANDIES SNACKS,KK051093,N,1.0,1.0,each,7,Candy,N,0
4,252100,0252099,-153.3,I-68933,-14.0,-29.4,-29.4,each,2.1,CANDIED COCONUT ALMO,...,CANDIES SNACKS,KK051093,N,1.0,1.0,each,7,Candy,N,0

In [9]:
# Create an empty list to store the matching CategoryID values
category_ids = []

# Iterate over each row in consolidated_df
for index, row in consolidated_df.iterrows():
    item_num = row['item_num']
    
    if item_num in items_list['ItemId'].values:
        category_id = items_list.loc[items_list['ItemId'] == item_num, 'CategoryID'].values[0]
        category_ids.append(category_id)
    else:
        category_ids.append(None) 

# Add the category_ids list as a new column to consolidated_df
consolidated_df['Items_assign_category_ID'] = category_ids

In [10]:
consolidated_df.head()

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,order_code,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID
0,252033,M123033004,-172.0,I-69025,-59.0,-123.9,-123.9,each,2.1,CANDIED CINNAMON ALMOND,...,KK051094,N,1.0,1.0,each,7,Candy,N,0,NaN
1,252099,0252099,153.3,I-69025,15.0,31.5,31.5,each,2.1,CANDIED CINNAMON ALMOND,...,KK051094,N,1.0,1.0,each,7,Candy,N,0,NaN
2,252100,0252099,-153.3,I-69025,-15.0,-31.5,-31.5,each,2.1,CANDIED CINNAMON ALMOND,...,KK051094,N,1.0,1.0,each,7,Candy,N,0,NaN
3,252099,0252099,153.3,I-68933,14.0,29.4,29.4,each,2.1,CANDIED COCONUT ALMO,...,KK051093,N,1.0,1.0,each,7,Candy,N,0,NaN
4,252100,0252099,-153.3,I-68933,-14.0,-29.4,-29.4,each,2.1,CANDIED COCONUT ALMO,...,KK051093,N,1.0,1.0,each,7,Candy,N,0,NaN

In [11]:
# Sort the dataframe by 'item_num' and 'qty'
consolidated_df.sort_values(by=['item_num', 'qty'], inplace=True)

# Find the rows to keep
rows_to_keep = []
prev_item_num = None

for index, row in consolidated_df.iterrows():
    if row['item_num'] != prev_item_num:
        rows_to_keep.append(index)
        prev_item_num = row['item_num']
    elif row['qty'] < 0:
        rows_to_keep.pop()
        rows_to_keep.append(index)

# Filter the dataframe to keep the selected rows
unique_rows = consolidated_df.loc[rows_to_keep]

# Display the unique rows
unique_rows

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,order_code,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID
11476,247768,1061818515,216.40,I-10117,1.0,6.90,6.90,pak,6.90,HERB MINT BC 4OZ,...,680804,N,1.0,4.0,pak,2,Food,Y,0,40.0
287,247973,9001094224,8190.64,I-1016,1.0,69.53,69.53,cs,69.53,BROWNIE ROCKY ROAD 12X16IN TFC,...,5801205,N,1.0,2.0,cs,2,Food,N,0,24.0
73,247973,9001094224,8190.64,I-1020,1.0,57.18,57.18,cs,57.18,BAR NANAIMO SCORED 12X16IN,...,1174120,N,1.0,2.0,cs,2,Food,N,0,24.0
215,248086,9001070978,520.60,I-1028,1.0,42.24,42.24,cs,42.24,BREAD NAAN ORIGINAL TEARDROP,...,1290728,N,1.0,48.0,cs,2,Food,N,0,24.0
3381,251703,9001385802,1271.19,I-1033,1.0,51.20,51.20,cs,51.20,PITA GREEK THK 7IN TFC,...,1346507,N,1.0,120.0,cs,2,Food,N,0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,252584,311232,125.84,I-9641,1.0,18.00,18.00,SHEET,18.00,FOCACCIA HERB FULL SHEET,...,3902,N,1.0,1.0,SHEET,2,Food,Y,0,24.0
7016,247853,0247852,-19.40,I-9687,-2.0,-19.40,-19.40,Kg,9.70,PASTE MISO YELLOW SHIRO,...,0412106,N,1.0,1.0,Kg,2,Food,N,0,20.0
6304,248149,9001111671,1062.80,I-9830,1.0,42.66,42.66,cs,42.66,GRAVY MIX POUTINE GF,...,1253421,N,453.0,6.0,cs,2,Food,N,0,58.0
13405,248299,1061818077,1640.75,I-9831,2.0,8.60,8.60,bag,4.30,RADISH BUNCHED 48CT,...,0258025,N,1.0,3.0,bag,2,Food,N,0,36.0
10811,248317,1061818516,272.60,I-9832,1.0,51.80,51.80,cs,51.80,DAIKON,...,0280948,N,1.0,40.0,cs,2,Food,Y,0,38.0

In [12]:
# Filter rows with no NaN values in "Items_assign_category_ID" from unique_rows DataFrame
filtered_df = unique_rows[~pd.isnull(unique_rows['Items_assign_category_ID'])]

# Print the filtered DataFrame
filtered_df

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,order_code,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID
11476,247768,1061818515,216.40,I-10117,1.0,6.90,6.90,pak,6.90,HERB MINT BC 4OZ,...,680804,N,1.0,4.0,pak,2,Food,Y,0,40.0
287,247973,9001094224,8190.64,I-1016,1.0,69.53,69.53,cs,69.53,BROWNIE ROCKY ROAD 12X16IN TFC,...,5801205,N,1.0,2.0,cs,2,Food,N,0,24.0
73,247973,9001094224,8190.64,I-1020,1.0,57.18,57.18,cs,57.18,BAR NANAIMO SCORED 12X16IN,...,1174120,N,1.0,2.0,cs,2,Food,N,0,24.0
215,248086,9001070978,520.60,I-1028,1.0,42.24,42.24,cs,42.24,BREAD NAAN ORIGINAL TEARDROP,...,1290728,N,1.0,48.0,cs,2,Food,N,0,24.0
3381,251703,9001385802,1271.19,I-1033,1.0,51.20,51.20,cs,51.20,PITA GREEK THK 7IN TFC,...,1346507,N,1.0,120.0,cs,2,Food,N,0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,252584,311232,125.84,I-9641,1.0,18.00,18.00,SHEET,18.00,FOCACCIA HERB FULL SHEET,...,3902,N,1.0,1.0,SHEET,2,Food,Y,0,24.0
7016,247853,0247852,-19.40,I-9687,-2.0,-19.40,-19.40,Kg,9.70,PASTE MISO YELLOW SHIRO,...,0412106,N,1.0,1.0,Kg,2,Food,N,0,20.0
6304,248149,9001111671,1062.80,I-9830,1.0,42.66,42.66,cs,42.66,GRAVY MIX POUTINE GF,...,1253421,N,453.0,6.0,cs,2,Food,N,0,58.0
13405,248299,1061818077,1640.75,I-9831,2.0,8.60,8.60,bag,4.30,RADISH BUNCHED 48CT,...,0258025,N,1.0,3.0,bag,2,Food,N,0,36.0
10811,248317,1061818516,272.60,I-9832,1.0,51.80,51.80,cs,51.80,DAIKON,...,0280948,N,1.0,40.0,cs,2,Food,Y,0,38.0

In [13]:
assigned_data = pd.read_csv(os.getcwd() + '/data/Misc/GHG_categories/GHG_assigned_data.csv')
assigned_data

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Food Category,Category ID
0,247973,9001094224,8190.64,1016,1.0,69.53,69.53,cs,69.53,brownie rocky road 12x16in tfc,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
1,248381,9001112003,5367.66,1016,1.0,69.53,69.53,cs,69.53,brownie rocky road 12x16in tfc,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
2,248383,9001132129,4406.91,1016,1.0,69.53,69.53,cs,69.53,brownie rocky road 12x16in tfc,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
3,248663,9001144510,9116.11,1016,1.0,69.53,69.53,cs,69.53,brownie rocky road 12x16in tfc,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
4,248997,9001185341,7931.74,1016,1.0,69.53,69.53,cs,69.53,brownie rocky road 12x16in tfc,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18381,249360,5200356,213.43,70875,2.0,87.36,87.36,BX,43.68,beef medium grd,...,N,1.0,5.0,BX,2,Food,N,0,beef & buffalo meat,1.0
18382,251688,5204180,265.48,70875,2.0,89.56,89.56,BX,44.78,beef medium grd,...,N,1.0,5.0,BX,2,Food,Y,0,beef & buffalo meat,1.0
18383,252734,5206230,265.48,70875,2.0,89.56,89.56,BX,44.78,beef medium grd,...,N,1.0,5.0,BX,2,Food,Y,0,beef & buffalo meat,1.0
18384,248077,05197159,1042.32,70875,18.0,796.32,796.32,BX,44.24,beef medium grd,...,N,1.0,5.0,BX,2,Food,Y,0,beef & buffalo meat,1.0
18385,249821,05201007,1368.05,70875,18.0,796.32,796.32,BX,44.24,beef medium grd,...,N,1.0,5.0,BX,2,Food,Y,0,beef & buffalo meat,1.0

In [14]:
# filtered_df.rename(columns={'Items_assign_category_ID': 'Category ID'}, inplace=True)
assigned_data["item_num"] = assigned_data["item_num"].astype(str) #Just to avoid warnings
for index, row in assigned_data.iterrows():
    cos_id = "I-" + str(row['item_num'])
    assigned_data.loc[index, 'item_num'] = cos_id

In [15]:
for index, row in filtered_df.iterrows():
    get_r = assigned_data.loc[assigned_data['item_num'] == row['item_num']]
    if not get_r.empty:
        Category_ID = get_r['Category ID'].values[0]
        filtered_df.loc[index, 'Category ID'] = Category_ID

/var/folders/bq/zkgc6_d969x_x5nsl5fy0vkh0000gn/T/ipykernel_3077/1008378781.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.loc[index, 'Category ID'] = Category_ID

In [16]:
filtered_df

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID,Category ID
11476,247768,1061818515,216.40,I-10117,1.0,6.90,6.90,pak,6.90,HERB MINT BC 4OZ,...,N,1.0,4.0,pak,2,Food,Y,0,40.0,63.0
287,247973,9001094224,8190.64,I-1016,1.0,69.53,69.53,cs,69.53,BROWNIE ROCKY ROAD 12X16IN TFC,...,N,1.0,2.0,cs,2,Food,N,0,24.0,24.0
73,247973,9001094224,8190.64,I-1020,1.0,57.18,57.18,cs,57.18,BAR NANAIMO SCORED 12X16IN,...,N,1.0,2.0,cs,2,Food,N,0,24.0,24.0
215,248086,9001070978,520.60,I-1028,1.0,42.24,42.24,cs,42.24,BREAD NAAN ORIGINAL TEARDROP,...,N,1.0,48.0,cs,2,Food,N,0,24.0,24.0
3381,251703,9001385802,1271.19,I-1033,1.0,51.20,51.20,cs,51.20,PITA GREEK THK 7IN TFC,...,N,1.0,120.0,cs,2,Food,N,0,24.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,252584,311232,125.84,I-9641,1.0,18.00,18.00,SHEET,18.00,FOCACCIA HERB FULL SHEET,...,N,1.0,1.0,SHEET,2,Food,Y,0,24.0,24.0
7016,247853,0247852,-19.40,I-9687,-2.0,-19.40,-19.40,Kg,9.70,PASTE MISO YELLOW SHIRO,...,N,1.0,1.0,Kg,2,Food,N,0,20.0,58.0
6304,248149,9001111671,1062.80,I-9830,1.0,42.66,42.66,cs,42.66,GRAVY MIX POUTINE GF,...,N,453.0,6.0,cs,2,Food,N,0,58.0,54.0
13405,248299,1061818077,1640.75,I-9831,2.0,8.60,8.60,bag,4.30,RADISH BUNCHED 48CT,...,N,1.0,3.0,bag,2,Food,N,0,36.0,NaN
10811,248317,1061818516,272.60,I-9832,1.0,51.80,51.80,cs,51.80,DAIKON,...,N,1.0,40.0,cs,2,Food,Y,0,38.0,36.0

In [17]:
#Change by Vivaan on 28th May
# Create a DataFrame containing only rows where 'Items_assign_category_ID' is not equal to 'Category ID'
need_to_manually_check_data = filtered_df[filtered_df['Items_assign_category_ID'] != filtered_df['Category ID']]

In [18]:
# check to see if automated approach is correctly assigning items to the right category
need_to_manually_check_data

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID,Category ID
11476,247768,1061818515,216.40,I-10117,1.0,6.90,6.90,pak,6.90,HERB MINT BC 4OZ,...,N,1.0,4.0,pak,2,Food,Y,0,40.0,63.0
8865,247877,9001094408,7899.82,I-10503,4.0,344.56,344.56,cs,86.14,HOT DOG PLANT BASED WIENER FZN,...,N,4.0,1.0,cs,2,Food,N,0,1.0,NaN
8420,249278,1061820702,2206.80,I-10611,1.0,49.25,49.25,cs,49.25,WON TON WRAPPER,...,N,1.0,1.0,lb,2,Food,N,0,24.0,NaN
553,247972,9001070965,4973.26,I-1064,1.0,111.33,111.33,cs,111.33,CAKE STRAWBERRY CREAM TFC,...,N,30.0,2.0,cs,2,Food,N,0,24.0,8.0
11514,248312,1061818519,4630.10,I-10758,1.0,11.30,11.30,BUNCH,11.30,HERB TARRAGON BC 4oz,...,N,4.0,1.0,BUNCH,2,Food,Y,0,58.0,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8354,248354,9001070972,5360.83,I-9382,1.0,19.29,19.29,cs,19.29,VINEGAR APPLE CIDER PURE,...,N,5.0,2.0,cs,2,Food,N,0,57.0,32.0
7016,247853,0247852,-19.40,I-9687,-2.0,-19.40,-19.40,Kg,9.70,PASTE MISO YELLOW SHIRO,...,N,1.0,1.0,Kg,2,Food,N,0,20.0,58.0
6304,248149,9001111671,1062.80,I-9830,1.0,42.66,42.66,cs,42.66,GRAVY MIX POUTINE GF,...,N,453.0,6.0,cs,2,Food,N,0,58.0,54.0
13405,248299,1061818077,1640.75,I-9831,2.0,8.60,8.60,bag,4.30,RADISH BUNCHED 48CT,...,N,1.0,3.0,bag,2,Food,N,0,36.0,NaN
10811,248317,1061818516,272.60,I-9832,1.0,51.80,51.80,cs,51.80,DAIKON,...,N,1.0,40.0,cs,2,Food,Y,0,38.0,36.0

In [19]:
# Unfilter rows with NaN values in "Items_assign_category_ID" and unique item_num
# unfiltered_df = consolidated_df[pd.isnull(consolidated_df['Items_assign_category_ID']) & ~consolidated_df['item_num'].duplicated(keep=False)]
unfiltered_df = unique_rows[pd.isnull(unique_rows['Items_assign_category_ID'])]

for index, row in unfiltered_df.iterrows():
    get_r = assigned_data.loc[assigned_data['item_num'] == row['item_num']]
    if not get_r.empty:
        Category_ID = get_r['Category ID'].values[0]
        unfiltered_df.loc[index, 'Category ID'] = Category_ID

/var/folders/bq/zkgc6_d969x_x5nsl5fy0vkh0000gn/T/ipykernel_3077/1617589581.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unfiltered_df.loc[index, 'Category ID'] = Category_ID

In [20]:
# Create a DataFrame containing only rows where 'Items_assign_category_ID' is not equal to 'Category ID'
not_assigned_from_list_method = unfiltered_df[unfiltered_df['Items_assign_category_ID'] != unfiltered_df['Category ID']]

In [21]:
# Create a dictionary mapping Category ID to Food Category from categories_df
category_dict = categories_df.set_index('Category ID')['Food Category'].to_dict()

# Create a new column "Category" in unfiltered_df based on the Category ID values
unfiltered_df['Category'] = unfiltered_df['Category ID'].map(category_dict)

# Print the updated unfiltered_df DataFrame
unfiltered_df

/var/folders/bq/zkgc6_d969x_x5nsl5fy0vkh0000gn/T/ipykernel_3077/2307717775.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unfiltered_df['Category'] = unfiltered_df['Category ID'].map(category_dict)

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID,Category ID,Category
12585,248143,1061818523,711.90,I-10482,1.0,6.20,6.20,cs,6.20,ONIONS JUMBO 5lb,...,1.0,5.0,cs,2,Food,N,0,NaN,39.0,onions and leeks
519,247972,9001070965,4973.26,I-1063,1.0,50.31,50.31,CA,50.31,CAKE SHEET SLAB ORANGE CITRUS,...,1.0,2.0,CA,2,Food,N,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
671,250775,9001346509,1370.36,I-1084,1.0,28.60,28.60,cs,28.60,COOKIE DBL CHOC CHIP T/S,...,1.0,72.0,cs,2,Food,N,0,NaN,41.0,potatoes
1404,251903,9001459647,6270.89,I-1086,4.0,218.56,218.56,cs,54.64,COOKIE DOUGH CHOC CHIP N/HYDRO,...,1.0,128.0,cs,2,Food,Y,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
1356,249799,9001259668,5011.22,I-1091,2.0,116.60,116.60,cs,58.30,COOKIE DOUGH WHITE CHOC MACA,...,1.0,128.0,cs,2,Food,N,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15316,250914,00022966,357.14,I-70756,1.0,70.00,70.00,ea,70.00,CK|BULK|Seasonal Chia/ Oat 8kg,...,1.0,1.0,ea,2,Food,N,0,NaN,26.0,tree nuts and seeds
8603,251629,0000869104,968.35,I-70806,4.0,192.00,192.00,TUB,48.00,ICE CREAM ESPRESSO 11.4L,...,11.4,1.0,TUB,2,Food,N,0,NaN,7.0,ice cream
8612,248410,0000860921,1872.55,I-70837,4.0,192.00,192.00,TUB,48.00,ICE CREAM VANILLA 11.4L,...,11.4,1.0,TUB,2,Food,N,0,NaN,7.0,ice cream
8750,247689,5197332,263.28,I-70875,2.0,87.36,87.36,BX,43.68,BEEF MEDIUM GRD,...,1.0,5.0,BX,2,Food,N,0,NaN,1.0,beef & buffalo meat
3350,247563,546291,214.00,I-8100,2.0,12.24,12.24,CT,6.12,LOAF WHWHT 3/4 SANDWICH,...,1.0,1.0,CT,2,Food,Y,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"

In [22]:
unfiltered_df.to_csv(os.getcwd() + '/data/Misc/GHG_categories/selected_unassigned_GHG_categories.csv', index = False)

In [23]:
unfiltered_df.shape

(286, 32)

In [24]:
unfiltered_df.head(60)

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID,Category ID,Category
12585,248143,1061818523,711.90,I-10482,1.00,6.20,6.200,cs,6.20,ONIONS JUMBO 5lb,...,1.000,5.0,cs,2,Food,N,0,NaN,39.0,onions and leeks
519,247972,9001070965,4973.26,I-1063,1.00,50.31,50.310,CA,50.31,CAKE SHEET SLAB ORANGE CITRUS,...,1.000,2.0,CA,2,Food,N,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
671,250775,9001346509,1370.36,I-1084,1.00,28.60,28.600,cs,28.60,COOKIE DBL CHOC CHIP T/S,...,1.000,72.0,cs,2,Food,N,0,NaN,41.0,potatoes
1404,251903,9001459647,6270.89,I-1086,4.00,218.56,218.560,cs,54.64,COOKIE DOUGH CHOC CHIP N/HYDRO,...,1.000,128.0,cs,2,Food,Y,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
1356,249799,9001259668,5011.22,I-1091,2.00,116.60,116.600,cs,58.30,COOKIE DOUGH WHITE CHOC MACA,...,1.000,128.0,cs,2,Food,N,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
1409,249799,9001259668,5011.22,I-1094,2.00,106.78,106.780,cs,53.39,COOKIE DOUGH MONSTER N/HYDRO,...,1.000,128.0,cs,2,Food,N,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
1608,251190,2000155272,-145.52,I-11052,-1.00,-40.64,-40.640,ea,40.64,CO2 CANISTER,...,1.000,1.0,ea,2,Food,N,0,NaN,61.0,kitchen supplies
9373,251701,1061826032,216.25,I-11078,1.00,9.75,9.750,cs,9.75,APPLES GALA ROYAL lb,...,1.000,38.0,CA,2,Food,N,0,NaN,32.0,apples
17487,249084,IN161559,630.22,I-11173,1.00,74.74,74.740,cs,74.74,PEPPER BLK CRACKED,...,454.000,5.0,cs,2,Food,N,0,NaN,54.0,stimulants & spices misc.
8393,248533,2035373,4083.92,I-11575,1.00,61.11,61.110,ea,61.11,VINEGAR SUSHI SUMO,...,20.000,1.0,CT,2,Food,N,0,NaN,57.0,vinegar
6597,248533,2035373,4083.92,I-11579,1.00,14.45,14.450,CT,14.45,NORI SUSHI FULL SHIRAKIKU,...,1.000,100.0,cs,2,Food,N,0,NaN,40.0,other vegetables
8405,250390,2043233,5728.31,I-11587,8.00,75.60,75.600,each,9.45,WAKAME CUT,...,16.000,1.0,CT,2,Food,N,0,NaN,NaN,NaN
18037,250257,9001312343,6348.98,I-11763,4.00,38.76,38.760,CT,9.69,APRON BIB DISHWASHER,...,1.000,1.0,CT,4,Misc.,N,0,NaN,61.0,kitchen supplies
9066,250442,05200978,6001.27,I-13424,10.00,1001.50,1001.500,cs,100.15,CHICK SKEWERS 75g SOUVLAKI,...,13.333,4.5,cs,2,Food,N,0,NaN,4.0,"poultry (chicken, turkey)"
8605,249032,0000860923,906.35,I-13551,2.00,96.00,96.000,TUB,48.00,ICE CREAM STRAWBERRY 11.4L,...,11.400,1.0,TUB,2,Food,N,0,NaN,7.0,ice cream
8598,249032,0000860923,906.35,I-13553,2.00,96.00,96.000,TUB,48.00,ICE CREAM COOKIE & CREAM 11.4L,...,11.400,1.0,TUB,2,Food,N,0,NaN,7.0,ice cream
8582,248597,0000862469,1132.35,I-13630,2.00,96.00,96.000,TUB,48.00,ICE CREAM BANA FUDGE SW 11.4L,...,11.400,1.0,TUB,2,Food,N,0,NaN,7.0,ice cream
2522,248964,INV1215107,236.08,I-13756,2.00,25.42,25.420,750ML,12.71,SYRUP MONIN CARAMEL,...,0.750,1.0,750ML,2,Food,Y,0,NaN,43.0,sugars and sweeteners
706,248888,0248887,-676.69,I-13787,-1.00,-20.60,-20.600,cs,20.60,COOKIE GINGER GF,...,1.000,12.0,cs,2,Food,N,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
13974,249482,1061819938,47.70,I-13898,1.00,31.75,31.750,cs,31.75,SUI CHOY SHREDDED,...,1.000,5.0,cs,2,Food,N,0,NaN,36.0,cabbages and other brassicas (broccoli)
4502,249266,6881010175,306.80,I-14040,1.00,10.46,10.460,cs,10.46,MILK 2 GO VANILLA,...,1.000,1.0,un,2,Food,N,0,NaN,9.0,milk (cow's milk)
8604,250731,0000867149,584.35,I-14305,3.00,144.00,144.000,TUB,48.00,ICE CREAM ROCKY ROAD 11.4 l,...,11.400,1.0,TUB,2,Food,N,0,NaN,7.0,ice cream
18277,251363,9001385785,714.58,I-15334,1.00,59.52,59.520,CA,59.52,"ROLL PPR THERMAL 2.25""X60'",...,1.000,100.0,CA,4,Misc.,N,0,NaN,61.0,kitchen supplies
2519,248040,71990539,2594.21,I-1568,1.00,22.39,22.390,bottle,22.39,SYRUP CHOCOLATE,...,1.000,6.0,cs,2,Food,Y,0,NaN,52.0,cocoa
2524,252207,INV1215570,1198.68,I-1577,6.00,76.26,76.260,750ML,12.71,SYRUP MONIN LEMON,...,1.000,1.0,750ML,2,Food,N,0,NaN,43.0,sugars and sweeteners
2525,248433,INV1214974,478.36,I-1578,6.00,76.26,76.260,750ML,12.71,SYRUP MONIN LIME 750ML,...,1.000,1.0,750ML,2,Food,N,0,NaN,43.0,sugars and sweeteners
2547,252207,INV1215570,1198.68,I-1583,6.00,76.26,76.260,750ML,12.71,SYRUP MONIN STRAWBERRY,...,1.000,1.0,750ML,2,Food,N,0,NaN,43.0,sugars and sweeteners
2449,247802,3192799647,885.95,I-1609,1.00,30.02,30.020,CA,30.02,ROOT BEER A&W 500ml,...,1.000,24.0,cs,2,Food,N,0,NaN,50.0,barley (beer)
61,248844,9001112005,5870.81,I-16095,1.00,56.10,56.100,cs,56.10,BAR LEMON BURST MACAROON,...,1.000,2.0,cs,2,Food,N,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
8931,248066,9001094419,1210.05,I-16135,1.00,131.16,131.160,cs,131.16,SAUSAGE PORK CHORIZO MEAT,...,1.000,1.0,Kg,2,Food,N,0,NaN,3.0,pork (pig meat)
2704,250181,9001216349,409.91,I-1633,1.00,5.77,5.770,CA,5.77,TONIC WATER CD (12pk),...,1.000,12.0,cs,2,Food,N,0,NaN,55.0,water & beverages
1711,248012,3192835967,1794.57,I-1652,1.00,15.91,15.910,cs,15.91,COKE DIET 2L,...,1.000,8.0,cs,2,Food,N,0,NaN,55.0,water & beverages
2283,251938,0251937,-299.27,I-1697,-75.00,-164.25,-164.250,473ML,2.19,MONSTER ENERGY-K 473M,...,1.000,12.0,cs,2,Food,N,0,NaN,55.0,water & beverages
2286,247802,3192799647,885.95,I-1707,1.00,30.02,30.020,CA,30.02,NESTEA COOL SW&LEMN 500ML,...,1.000,24.0,cs,2,Food,N,0,NaN,55.0,water & beverages
2438,249117,9001195351,755.45,I-1719,1.00,14.87,14.870,cs,14.87,POWERADE GRAPE,...,1.000,12.0,cs,2,Food,N,0,NaN,55.0,water & beverages
2461,248012,3192835967,1794.57,I-1735,1.00,15.91,15.910,cs,15.91,SPRITE 2L,...,1.000,8.0,cs,2,Food,N,0,NaN,55.0,water & beverages
3415,248505,9001133184,903.53,I-17626,2.00,20.84,20.840,cs,10.42,CHIP PRINGLES REG SML CAN,...,1.000,12.0,cs,2,Food,N,0,NaN,41.0,potatoes
8930,251596,05204510,2184.48,I-17677,3.00,152.25,152.250,cs,50.75,SAUSAGE PORK BREAKFAST.,...,1.000,5.0,cs,2,Food,N,0,NaN,3.0,pork (pig meat)
1939,248517,0248516,-26.39,I-1770,-1.00,-26.39,-26.390,cs,26.39,CRYSTAL LEM PINK TFC,...,425.000,12.0,cs,2,Food,N,0,NaN,55.0,water & beverages
1954,251640,2000165380,-365.19,I-1772,-10.00,-347.80,-347.800,cs,34.78,CRYSTAL TEA ICED,...,375.000,12.0,cs,2,Food,Y,0,NaN,55.0,water & beverages
17938,249796,06565767,-485.19,I-18641,-3.00,-433.20,-463.524,cs,144.40,LINER PARCHMENT ENVIROBAKE,...,1.000,1000.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
18095,247973,9001094224,8190.64,I-19169,1.00,145.35,145.350,cs,145.35,GLOVE NITRILE N/PWDR BLK XLG,...,100.000,10.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
7051,249089,71996424,1302.76,I-19567,1.00,48.75,48.750,PL,48.75,PEANUT BUTTER NATURAL TFC,...,1.000,10.0,cs,2,Food,N,0,NaN,5.0,butter
9424,249405,0249404,-76.78,I-19636,-2.00,-14.20,-14.200,cs,7.10,APPLES GALA ROYAL US,...,1.000,10.0,cs,2,Food,N,0,NaN,32.0,apples
17655,248384,9001144506,4418.22,I-2016,1.00,220.74,220.740,JUG,220.74,CLEANER FLOORWASH N WALK,...,1.000,1.0,JUG,4,Misc.,N,0,NaN,61.0,kitchen supplies
17657,247874,9001070944,8370.49,I-2020,1.00,163.40,163.400,cs,163.40,CLEANER ORANGE FORCE 137,...,1.000,1.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
17670,247973,9001094224,8190.64,I-2026,1.00,183.92,183.920,cs,183.92,DETERGENT APEX MAN POT & PAN,...,1.000,2.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
17692,250988,0250987,-41.76,I-2027,-2.00,-41.76,-41.760,JUG,20.88,DETERGENT DISH PAN DANDY MANU,...,1.000,4.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
17757,250176,9001260319,1119.50,I-2036,1.00,15.69,15.690,pak,15.69,"FILTER GREASE CONE 10""",...,50.000,10.0,cs,4,Misc.,Y,0,NaN,61.0,kitchen supplies
17759,248844,9001112005,5870.81,I-2038,1.00,166.86,166.860,cs,166.86,PRESOAK FLATWARE LIQ CPS 490,...,1.000,4.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
18034,250308,9001283316,7626.41,I-20435,1.00,27.99,27.990,cs,27.99,TISSUE FACIAL BOX WHT 2PLY 100,...,1.000,36.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
17792,248362,9001094414,7971.34,I-2048,1.00,47.94,47.940,cs,47.94,SOAP HAND CLEAN AND SMOOTH,...,1.000,6.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
4512,251674,1061824518,131.42,I-2071,6.00,51.42,51.420,4L,8.57,MILK 2% (4/4LT)MEADOWFRESH,...,4.000,4.0,cs,2,Food,N,0,NaN,9.0,milk (cow's milk)
4418,247891,9001111653,1171.74,I-2161,1.00,86.16,86.160,cs,86.16,EGG OMELETTE PLAIN FOLDED,...,1.000,80.0,cs,2,Food,N,0,NaN,11.0,eggs
5123,249038,2318855,900.24,I-2168,12.00,155.88,155.880,bag,12.99,MILK POWDER SKIM INST,...,0.500,1.0,bag,2,Food,N,0,NaN,54.0,stimulants & spices misc.
5276,250526,6881010358,421.33,I-2193,1.00,5.64,5.640,bag,5.64,MILKETTES 2% 160X9ML,...,160.000,1.0,bag,2,Food,N,0,NaN,9.0,milk (cow's milk)
3169,252524,9001502072,430.47,I-22490,1.00,52.33,52.330,cs,52.33,FLATBREAD OVEAL 5X12.5 FZN,...,1.000,48.0,cs,2,Food,Y,0,NaN,24.0,"wheat/rye (bread, pasta, baked goods)"
8712,251765,9001416314,979.00,I-22634,3.18,57.75,57.750,Kg,18.16,BACON BACK ERUO STYLE FRSH,...,1.000,1.0,Kg,2,Food,Y,0,NaN,3.0,pork (pig meat)
17836,248844,9001112005,5870.81,I-2381,1.00,147.96,147.960,cs,147.96,CHOPSTICK BAMBOO PPR WRPD 9IN,...,50.000,40.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
17872,248686,9001094263,4305.55,I-2386,1.00,47.32,47.320,cs,47.32,ECO CUTLERY FORK WOODEN,...,50.000,20.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies

In [25]:
unfiltered_df.iloc[60:78, :]

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Items_assign_category_ID,Category ID,Category
17800,251169,9001346513,210.09,I-23898,2.00,10.72,10.72,ea,5.3600,STRIP TEST PPR QUAT SANITIZER,...,1.00,1.0,ea,4,Misc.,N,0,NaN,61.0,kitchen supplies
18078,249022,9001185335,7277.82,I-2392,1.00,12.21,12.21,cs,12.2100,FIRST AID BANDAGE FABRIC BLUE,...,1.00,100.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
18244,250173,9001238103,1701.47,I-2411,1.00,15.54,15.54,pak,15.5400,LBL FOOD ROTATION DISSOLVE 2X3,...,250.00,1.0,pak,4,Misc.,N,0,NaN,61.0,kitchen supplies
18265,247973,9001094224,8190.64,I-2422,1.00,78.58,78.58,cs,78.5800,PAD GRIDDLE POLS 46 BLK 4X5.25,...,20.00,3.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
18285,249851,9001271332,7700.61,I-2428,4.00,42.56,42.56,cs,10.6400,STRING BUTCHER MED WEIGHT #4R,...,1.00,1.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
11172,248383,9001132129,4406.91,I-2616,2.00,126.68,126.68,cs,63.3400,HASHBROWN DCD RISE N FRY TFC,...,5.00,6.0,cs,2,Food,N,0,NaN,41.0,potatoes
1524,247784,71990893,609.06,I-2631,6.00,190.80,190.80,PL,31.8000,MUFFIN BATT CARROT TFC,...,1.00,8.0,CA,2,Food,N,0,NaN,38.0,root vegetables
17649,249480,2036658,733.20,I-26887,1.00,62.00,62.00,ea,62.0000,SAKE,...,18.00,1.0,BIB 20L,8,"Liq,Wine,Beer",N,0,NaN,51.0,wine grapes (wine)
7983,248126,9001081628,504.98,I-2716,1.00,49.03,49.03,cs,49.0300,SOUP CHOWDER CLAM BOSTON,...,1.81,3.0,cs,2,Food,N,0,NaN,59.0,manually adjusted
8001,248593,9001111666,352.06,I-2752,1.00,44.80,44.80,cs,44.8000,SOUP VEG BEEF BARLEY NO MSG,...,1.81,1.0,cs,2,Food,N,0,NaN,1.0,beef & buffalo meat
8556,248541,7601064,546.76,I-27696,1.00,36.72,36.72,cs,36.7200,Barbara Bakery Cheese Puffs,...,1.00,12.0,cs,2,Food,N,0,NaN,6.0,cheese
8561,251367,7608804,427.09,I-27697,1.00,31.80,31.80,cs,31.8000,Barbara Bakery Cheese Puffs WC,...,1.00,12.0,cs,2,Food,N,0,NaN,6.0,cheese
7380,247830,20230158,754.80,I-2770,24.00,46.08,46.08,CT,1.9200,SAMOSA SPINACH,...,1.00,1.0,CT,2,Food,Y,0,NaN,59.0,manually adjusted
17925,250234,0250233,-51.96,I-28195,-0.25,-13.56,-13.56,cs,54.2200,LID FOR 10-20Z WHT CUP PPR HOT,...,1.00,1000.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
17669,252241,144196,431.81,I-29517,12.00,29.20,29.20,box,2.4333,CLEANING TABLET CAFIZA ESPRSS,...,1.00,100.0,box,4,Misc.,N,0,NaN,61.0,kitchen supplies
18384,250792,9001333265,2352.89,I-30507,1.00,75.19,75.19,cs,75.1900,"WRAP FOIL HD 18"" 45CMX100M",...,328.00,1.0,cs,4,Misc.,N,0,NaN,61.0,kitchen supplies
6339,250214,72002378,424.60,I-3067,1.00,116.90,116.90,cs,116.9000,JAM RASPBERRY 14kg,...,1.00,14.0,cs,2,Food,Y,0,NaN,34.0,berries
17651,248950,9001156748,1231.70,I-31059,1.00,220.74,220.74,JUG,220.7400,CLEANER FLOOR WASH AND WALK,...,1.00,332.9,JUG,4,Misc.,N,0,NaN,61.0,kitchen supplies

In [26]:
consolidated_df.to_csv(os.getcwd() + '/data/Misc/GHG_categories/GHG_categories_assigned_with_Items_List.csv', index = False)

In [27]:
items_list

,ItemId,CategoryID,Description,CaseQty,CaseUOM,PakQty,PakUOM,InventoryGroup
0,I-57545,1,CHUCK FLAT BONELESS FZN,3.30,Kg,1.0,Kg,MEAT
1,I-10869,1,BEEF STIRFRY COV FR,5.00,Kg,1.0,Kg,MEAT
2,I-7064,1,BEEF OUTSIDE FLAT AAA,1.00,Kg,1.0,Kg,MEAT
3,I-37005,1,BEEF MEATBALLS,4.54,Kg,1000.0,g,MEAT
4,I-37002,1,BEEF INSIDE ROUND SHAVED,9.00,Kg,1000.0,g,MEAT
...,...,...,...,...,...,...,...,...
2816,I-17622,24,WAFFLES BLUBRRY - GF/WF,12.00,box,6.0,ea,FOOD - GROCERY
2817,I-45754,55,WATER ACTIVE LEMON LIME,12.00,450ML,1.0,450ML,BEVERAGE
2818,I-45755,55,WATER ACTIVE ORANGE MANGO,12.00,450ML,1.0,450ML,BEVERAGE
2819,I-45756,55,WATER ACTIVE STRAWB BLK CHERRY,12.00,450ML,1.0,450ML,BEVERAGE
2820,I-43251,55,WATER FRUIT 500ML PINEAPPLE,12.00,500ML,1.0,bottle,BEVERAGE

In [28]:
df_to_be_added = unfiltered_df.rename(columns={"item_num": "ItemId", "Category ID": "CategoryID", "item_descrip": "Description", "case_qty": "CaseQty", "case_uom": "CaseUOM", "pak_qty": "PakQty", "uom": "PakUOM", "prod_group_descrip": "InventoryGroup"})

In [29]:
df_to_be_added = df_to_be_added[["ItemId", "CategoryID", "Description", "CaseQty", "CaseUOM", "PakQty", "PakUOM", "InventoryGroup"]]

In [32]:
df_to_be_added

,ItemId,CategoryID,Description,CaseQty,CaseUOM,PakQty,PakUOM,InventoryGroup
12585,I-10482,39.0,ONIONS JUMBO 5lb,5.0,lb,1.0,cs,PRODUCE
519,I-1063,24.0,CAKE SHEET SLAB ORANGE CITRUS,2.0,SHEET,1.0,CA,BAKED GOODS
671,I-1084,41.0,COOKIE DBL CHOC CHIP T/S,72.0,ea,1.0,cs,BAKED GOODS
1404,I-1086,24.0,COOKIE DOUGH CHOC CHIP N/HYDRO,128.0,CT,1.0,cs,BAKING-RAW INGREDIENTS
1356,I-1091,24.0,COOKIE DOUGH WHITE CHOC MACA,128.0,each,1.0,cs,BAKING-RAW INGREDIENTS
...,...,...,...,...,...,...,...,...
15316,I-70756,26.0,CK|BULK|Seasonal Chia/ Oat 8kg,1.0,ea,1.0,ea,PRODUCTION FOOD
8603,I-70806,7.0,ICE CREAM ESPRESSO 11.4L,1.0,TUB,11.4,TUB,ICECREAM/NOVELTY/GELATO
8612,I-70837,7.0,ICE CREAM VANILLA 11.4L,1.0,TUB,11.4,TUB,ICECREAM/NOVELTY/GELATO
8750,I-70875,1.0,BEEF MEDIUM GRD,5.0,Kg,1.0,BX,MEAT
3350,I-8100,24.0,LOAF WHWHT 3/4 SANDWICH,1.0,CT,1.0,CT,BREAD

In [30]:
# Append df_to_be_added to items_list

# CHECK ALL ITEMS CAREFULLY BEFORE DOING: 

# items_list = pd.concat([items_list, df_to_be_added], axis=0)
# items_list.tail(10)

In [31]:
# CHECK ALL ITEMS CAREFULLY BEFORE DOING: 

# items_list.to_csv(os.getcwd() + '/data/GHG_categories/Items_List_Assigned.csv', index = False)