![](ubc_header.png)

# Climate-Friendly Food Systems (CFFS) Labelling Project

### The University of British Columbia

****

## Part I: Data Preprocessing

## Set up and Import Libraries

In [1]:
#pip install -r requirements.txt

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os
import csv
from itertools import islice
from decimal import Decimal
import xml.etree.ElementTree as et
from xml.etree.ElementTree import parse
import openpyxl
import pytest

In [3]:
# RUN ONLY ONCE
# os.chdir is used to change the current directory to the specified path
os.chdir("../") # Sets path to the repo folder as it is one level above where this file exists!
path = os.getcwd()
print(path)

/Users/vivaanwadhwa/Documents/GitHub/CFFS_sharon_2024

****

## Load Data Files

### Set Data File Path

In [4]:
# Select data file path for the chosen venue and time range where the recipes data stored

# OK 2023
# filepath_list = glob.glob(os.path.join(os.getcwd(), "data", "raw", "OK", "*.oc"))

# Totem 2023
# filepath_list = glob.glob(os.path.join(os.getcwd(), "data", "raw", "Feast", "*.oc"))

# Gather 2023
filepath_list = glob.glob(os.path.join(os.getcwd(), "data", "raw", "Gather", "*.oc"))

# filepath_list = glob.glob(os.path.join(os.getcwd(), "data", "raw", "BLUEBERRY_FESTIVAL_24"))

# filepath_list = glob.glob(os.path.join(os.getcwd(), "data", "raw", "HARVEST_FESTIVAL_24"))

filepath_list

['/Users/vivaanwadhwa/Documents/GitHub/CFFS_sharon_2024/data/raw/Feast/all_FEAST_items_13th_aug.oc.oc',
 '/Users/vivaanwadhwa/Documents/GitHub/CFFS_sharon_2024/data/raw/Feast/2l_FEAST_items_13th_aug.oc.oc.oc']

### Import Items List

In [5]:
# Read items.xml files in the filepath_list and construct a dataframe
ItemId = []
Description = []
CaseQty = []
CaseUOM = []
PakQty = []
PakUOM = []
InventoryGroup = []


# from the items xml file, findtext of CaseQty, CaseUOM, PakQty, PakUOM, and InventoryGroup
# then append it on the lists above

for filepath in filepath_list:
    path = filepath + '/Items.xml'
    if os.path.isfile(path):
        xtree = et.parse(path)
        xroot = xtree.getroot()
        for item in xtree.iterfind('Item'):
            ItemId.append(item.attrib['id'])
            Description.append(item.findtext('Description'))
            CaseQty.append(item.findtext('CaseQty'))
            CaseUOM.append(item.findtext('CaseUOM'))
            PakQty.append(item.findtext('PakQty'))
            PakUOM.append(item.findtext('PakUOM'))
            InventoryGroup.append(item.findtext('InventoryGroup'))

            
# Create a dataframe from the lists created above.
        
Items = pd.DataFrame({'ItemId': ItemId, 'Description': Description, 'CaseQty': CaseQty, 
                      'CaseUOM': CaseUOM, 'PakQty': PakQty, 'PakUOM': PakUOM, 'InventoryGroup': InventoryGroup}
                    )

Items.drop_duplicates(inplace=True)

Items.reset_index(drop=True, inplace=True)

In [6]:
# creates a new array with unique ItemIds
all_id_list = Items["ItemId"].unique()

In [7]:
# None of the items are egg yolk liq
Items.loc[Items["Description"] == "Egg Yolk Liq"]

Empty DataFrame
Columns: [ItemId, Description, CaseQty, CaseUOM, PakQty, PakUOM, InventoryGroup]
Index: []

In [8]:
# Sumplemental option for egg, vegan option
Items.loc[Items["ItemId"] == "I-68700"]

,ItemId,Description,CaseQty,CaseUOM,PakQty,PakUOM,InventoryGroup
171,I-68700,EGG CKD*FOLDED VEGAN FRZ,60.000,each,1.000,each,DAIRY

In [9]:
# Gives you the list of breads
breadlist = []


# If the items in the Items list is a "LOAF", "SANDWICH", or "BREAD" then we should add it in the breadlist
# We append it onto the breadlist at position row["ItemId"]
for ind, row in Items.iterrows():
    if ("LOAF" or "SANDWICH" "BREAD") in row["Description"]:
        breadlist.append(row["ItemId"])

breadlist

['I-1271', 'I-11664', 'I-15032', 'I-71503']

In [10]:
Items = Items[~Items["InventoryGroup"].isin(["DISPOSABLES", "SUPPLY"])]

In [11]:
# Based on info below there are 486 rows and 7 columns
Items.shape

(602, 7)

In [12]:
Items.dtypes

ItemId            object
Description       object
CaseQty           object
CaseUOM           object
PakQty            object
PakUOM            object
InventoryGroup    object
dtype: object

In [13]:
# Save the dataframe to csv
path = os.path.join(os.getcwd(), "data", "preprocessed", "Items_List.csv")
Items.to_csv(path, index = False, header = True)

### Import Ingredients List

In [14]:
# Read ingredients.xml files in the filepath_list and construct a dataframe
IngredientId = []
Conversion = []
InvFactor = []
Qty = []
Recipe = []
Uom = []

# Using the Ingredients XML file, we extract attributes containing ingredients, conversion, invFactor, qty, recipe, and uom. 
# Then we append it onto the IngredientId, Coversion, InvFactor, Qty, Recipe, and Uom lists
# Then we create a dataframe using the lists created. 

for filepath in filepath_list:
    path = filepath + '/Ingredients.xml'
    if os.path.isfile(path):
        xtree = et.parse(path)
        xroot = xtree.getroot()
        for x in xtree.iterfind('Ingredient'):
            IngredientId.append(x.attrib['ingredient'])
            Conversion.append(x.attrib['conversion'])
            InvFactor.append(x.attrib['invFactor'])
            Qty.append(x.attrib['qty'])
            Recipe.append(x.attrib['recipe'])
            Uom.append(x.attrib['uom'])
    
Ingredients = pd.DataFrame({'IngredientId': IngredientId, 'Qty': Qty,'Uom': Uom, 'Conversion': Conversion, 
                      'InvFactor': InvFactor,'Recipe': Recipe}).drop_duplicates()
Ingredients.drop_duplicates(subset=["IngredientId", "Recipe"], inplace=True)

Ingredients.reset_index(drop=True, inplace=True)

In [15]:
Ingredients.loc[Ingredients["IngredientId"] == "I-29389"]

     IngredientId      Qty Uom  Conversion InvFactor   Recipe
1145      I-29389    3.000  Kg  1.00000000    1.2000  P-50739
1776      I-29389  600.000   g  0.00100000  150.0000  P-57344

In [16]:
# This will output the IngredientId on the right side and the number of times the ingredient appears in the Ingredients
# dataframe on the left side. 

# The duplicated() method returns a Series with True and False values that describe which rows in the DataFrame are 
# duplicated and not.

check = Ingredients["IngredientId"].duplicated()

# The line below tells us at which index is the ingredient duplicated. For example I-4598 exists on index 2 of the dataframe and
# then again on index 8. So duplicate is first true on index 8, which is why it is printed below. It also appears in a below 
# index so it is printed again with that index number. 
Ingredients["IngredientId"][check]

9       I-56382
18       I-3642
22       I-3284
28       I-5983
31      I-56382
         ...
4491     I-1131
4492    I-14179
4493     I-3531
4494    P-45047
4495    P-46862
Name: IngredientId, Length: 3257, dtype: object

In [17]:
# We can see from the printed items above that I-64877 does not appear because it does not get duplicated
Ingredients.loc[Ingredients["IngredientId"] == "I-64877"]

Empty DataFrame
Columns: [IngredientId, Qty, Uom, Conversion, InvFactor, Recipe]
Index: []

In [18]:
Ingredients

     IngredientId     Qty    Uom  Conversion InvFactor   Recipe
0         P-48933   1.000     Kg  1.00000000    1.0000  P-10113
1          I-4626  16.000     CT  1.00000000    2.6667  P-10115
2         P-18746   1.000     Kg  1.00000000    1.0000  P-10241
3          I-4658   2.270     Kg  2.20462000    0.6942  P-10496
4         I-56382   1.000      L  1.00000000    0.3058  P-10496
...           ...     ...    ...         ...       ...      ...
4492      I-14179  70.000      g  0.00100000    1.0000   R-8355
4493       I-3531  60.000     ml  0.00100000    1.0000   R-8355
4494      P-45047  20.000      g  0.00100000    1.0000   R-8355
4495      P-46862  20.000  slice  1.00000000    1.0000   R-8355
4496      P-68034  50.000      g  0.00100000    1.0000   R-8355

[4497 rows x 6 columns]

In [19]:
# Below we are checking if we can extract an entire recipe. So we can do .loc with the particular recipe id and then 
# print all the data points (ingredientId, Qty, Uom, Conversion, InvFactor) for that recipe. 
Ingredients.loc[Ingredients["Recipe"] == "R-68698"]

Empty DataFrame
Columns: [IngredientId, Qty, Uom, Conversion, InvFactor, Recipe]
Index: []

In [20]:
Items

,ItemId,Description,CaseQty,CaseUOM,PakQty,PakUOM,InventoryGroup
0,I-7631,5 SPICE POWDER,1.000,ea,1.000,lb,SPICES
1,I-3617,ALLSPICE GROUND SHAKER,8.000,each,454.000,g,SPICES
2,I-44059,ALMOND BUTTER*,10.000,Kg,1.000,Kg,FOOD - GROCERY
3,I-40957,ALMOND SLICED*BLANCHED,3.000,bag,1000.000,g,BAKING-RAW INGREDIENTS
4,I-43652,ANCHO CHILLI,1.200,Kg,1.000,Kg,FOOD - GROCERY
...,...,...,...,...,...,...,...
597,I-68112,YOGURT YOGGU VANILLA COCONUT,3.500,Kg,1.000,Kg,DAIRY
598,I-68111,YOGURT YOGGU*PLAIN COCONUT,3.500,Kg,1.000,Kg,DAIRY
599,I-4962,ZUCCHINI BC,25.000,lb,1.000,lb,PRODUCE
600,I-4967,ZUCCHINI MED FCY MX,25.000,lb,1.000,lb,PRODUCE
601,I-4958,ZUCCHINI YELLOW BC,20.000,lb,1.000,lb,PRODUCE

In [21]:
Ingredients.shape

(4497, 6)

In [22]:
Ingredients.dtypes

IngredientId    object
Qty             object
Uom             object
Conversion      object
InvFactor       object
Recipe          object
dtype: object

In [23]:
# Save the dataframe to csv
path = os.path.join(os.getcwd(), "data", "preprocessed", "Ingredients_List.csv")
Ingredients.to_csv(path, index = False, header = True)

### Import Preps List

In [24]:
# Read preps.xml files in the filepath_list and construct a dataframe
PrepId = []
Description = []
PakQty = []
PakUOM = []
InventoryGroup = []


# Here we do the same thing for the Preps XML file where we find the columns using attrib function and then append it onto
# the dataframe called Preps. 

for filepath in filepath_list:
    path = filepath + '/Preps.xml'
    if os.path.isfile(path):
        xtree = et.parse(path)
        xroot = xtree.getroot()
        for x in xtree.iterfind('Prep'):
            PrepId.append(x.attrib['id'])
            Description.append(x.findtext('Description'))
            PakQty.append(x.findtext('PakQty'))
            PakUOM.append(x.findtext('PakUOM'))
            InventoryGroup.append(x.findtext('InventoryGroup'))
    
Preps = pd.DataFrame({'PrepId': PrepId, 'Description': Description,
                  'PakQty': PakQty, 'PakUOM':PakUOM, 'InventoryGroup': InventoryGroup}).drop_duplicates()
preps_columns = Preps.columns
Preps.drop_duplicates(subset=["PrepId"], inplace=True)

Preps.reset_index(drop=True, inplace=True)

In [25]:
Preps

      PrepId                 Description   PakQty PakUOM       InventoryGroup
0    P-67545       BAKED|4 Cheese Penne*   72.000     Kg
1    P-56502    BAKED|Pasta|Shrimp Pesto   67.500     Kg
2    P-26318           BAKED|Puff Pastry   10.000     ea  ZDONT USE OK - PREP
3    P-56372         BATCH| Carne Asada     1.000     Kg      PRODUCTION FOOD
4    P-56399  BATCH| Cilantro lime Rice    29.200     Kg
..       ...                         ...      ...    ...                  ...
645  P-41047                  YIELD|Yam     1.900     Kg
646  P-24452         YIELD|Yellow Onion*    0.900     lb
647  P-57145        YIELD|Yellow Pepper*    8.300     Kg
648  P-62405              YIELD|Zucchini  938.000      g
649   P-9756              YIELD|Zucchini    0.900     Kg

[650 rows x 5 columns]

In [26]:
# This tells us that there are not any duplicates in the Preps dataframe. There is a different process|ingredient pair for 
# all the recipes. 
check = Preps["PrepId"].duplicated().any()
print(check)

False

In [27]:
# There are 546 rows and 5 columns
Preps.shape

(650, 5)

In [28]:
# Here we see there is only one place P-50739 is used in the Preps
Preps.loc[Preps["PrepId"] == "P-50739"]

      PrepId             Description PakQty PakUOM InventoryGroup
165  P-50739  COMPOTE|Apple Cinnamon  2.500      L           PREP

In [29]:
Preps.dtypes

PrepId            object
Description       object
PakQty            object
PakUOM            object
InventoryGroup    object
dtype: object

In [30]:
# Save the dataframe to csv
path = os.path.join(os.getcwd(), "data", "preprocessed", "Preps_List.csv")
Preps.to_csv(path, index = False, header = True)

### Import Products List

In [31]:
# Read products.xml files in the filepath_list and construct a dataframe
ProdId = []
Description = []
SalesGroup = []

# From the XML file for products append the id into ProdId, description into Description, and SalesGroup into SalesGroup list.
# Make a dataframe out of the 3 lists
# Then also drop the duplicates in the Products dataframe

for filepath in filepath_list:
    path = filepath + '/Products.xml'
    if os.path.isfile(path):
        xtree = et.parse(path)
        xroot = xtree.getroot()
        for x in xtree.iterfind('Prod'):
            ProdId.append(x.attrib['id'])
            Description.append(x.findtext('Description'))
            SalesGroup.append(x.findtext('SalesGroup'))
        
Products = pd.DataFrame({'ProdId': ProdId, 'Description': Description, 'SalesGroup': SalesGroup})
Products.drop_duplicates(inplace=True)

Products.reset_index(drop=True, inplace=True)

In [32]:
Products

      ProdId                     Description            SalesGroup
0    R-62187                   ADD|Fried Egg  FT STICKS AND SPOONS
1    R-44853                 ADD|Poached Egg                 FEAST
2    R-52741            BAKE|Croissant|Plain             FT BAKERY
3    R-64998              BNO| Nachos|Loaded              FT BUENO
4    R-71173       BNO|Achiote Chicken|PLATE                 FEAST
..       ...                             ...                   ...
297  R-73214       SOUP|Goodly|Creamy tomato                 FEAST
298  R-73215       SOUP|Goodly|Hearty tomato                 FEAST
299  R-73509  SOUP|House made|Cream Of Shroo                 SIDES
300  R-56906           STEAMED|Bak Choy|SIDE             FT SIDES
301  R-62695     STUFFING|Wild Mushroom|SIDE        FT HOMESKILLET

[302 rows x 3 columns]

In [33]:
# Here we can see that there is only one R-56966 in the products 
Products.loc[Products["ProdId"] == "R-56966"]

Empty DataFrame
Columns: [ProdId, Description, SalesGroup]
Index: []

In [34]:
Products.dtypes

ProdId         object
Description    object
SalesGroup     object
dtype: object

In [35]:
# Here we can see that there is only one R-68698 in the products 
Products.loc[Products["ProdId"] == "R-68698"]

Empty DataFrame
Columns: [ProdId, Description, SalesGroup]
Index: []

In [36]:
Products.shape

(302, 3)

In [37]:
Products.dtypes

ProdId         object
Description    object
SalesGroup     object
dtype: object

In [38]:
# Save the dataframe to csv
path = os.path.join(os.getcwd(), "data", "preprocessed", "Products_List.csv")
Products.to_csv(path, index = False, header = True)

### Import Conversions List

In [39]:
# Read conventions.xml files in the filepath_list and construct a dataframe
ConversionId = []
Multiplier = []
ConvertFromQty = []
ConvertFromUom = []
ConvertToQty = []
ConvertToUom = []

# From the XML file for Conversions append the id into ConversionId, multiplier into Multiplier, ConvertFrom->qty into 
# ConvertFromQty,ConvertFrom->uom into ConvertFromUom, ConvertTo->qty into ConvertToQty and and ConvertTo->uom into the
# CovertToUom list. 
# Make a dataframe out of the 3 lists
# Then also drop the duplicates in the Products dataframe


for filepath in filepath_list:
    path = filepath + '/Conversions.xml'
    if os.path.isfile(path):
        xtree = et.parse(path)
        xroot = xtree.getroot()
        for x in xtree.iterfind('Conversion'):
            ConversionId.append(x.attrib['id'])
            Multiplier.append(x.attrib['multiplier'])
            ConvertFromQty.append(x.find('ConvertFrom').attrib['qty'])
            ConvertFromUom.append(x.find('ConvertFrom').attrib['uom'])
            ConvertToQty.append(x.find('ConvertTo').attrib['qty'])
            ConvertToUom.append(x.find('ConvertTo').attrib['uom'])
    
    
Conversions = pd.DataFrame({'ConversionId': ConversionId, 'Multiplier': Multiplier, 'ConvertFromQty': ConvertFromQty,
                           'ConvertFromUom': ConvertFromUom, 'ConvertToQty': ConvertToQty, 'ConvertToUom': ConvertToUom}
                          ).drop_duplicates()

Conversions.reset_index(drop=True, inplace=True)

In [40]:
# Here we can see for example that to convert 1.14 L to 1 L the multiplier is 0.877 since 1/1.14 = 0.877
Conversions

,ConversionId,Multiplier,ConvertFromQty,ConvertFromUom,ConvertToQty,ConvertToUom
0,,1.00000000,1.0000,XXX,1.0000,L
1,,0.87719298,1.0000,1.14L,1.1400,L
2,,0.66666667,1.0000,1.5L,1.5000,L
3,,0.57142857,1.0000,1.75 L,1.7500,L
4,,0.50000000,1.0000,2L,2.0000,L
...,...,...,...,...,...,...
274,I-56382,0.00100000,1.0000,L,1000.0000,g
275,I-60809,0.00406504,1.0000,cup,246.0000,g
276,I-60809,0.00101626,1.0000,qt,984.0000,g
277,I-65787,0.02000000,1.0000,ea,50.0000,g
278,I-65787,0.03529412,3.0000,oz,85.0000,g

In [41]:
# Here we can check that there are no ingredients listed since 
Conversions.loc[Conversions["ConversionId"] == "I-4582"]

Empty DataFrame
Columns: [ConversionId, Multiplier, ConvertFromQty, ConvertFromUom, ConvertToQty, ConvertToUom]
Index: []

In [42]:
all_id_list = Items["ItemId"].unique()
all_conv_list = Conversions["ConversionId"].unique()

print("All unique IDs list\n")
print(all_id_list)
print("\n")
print("All unique Conversions list\n")
print(all_conv_list)

All unique IDs list

['I-7631' 'I-3617' 'I-44059' 'I-40957' 'I-43652' 'I-2852' 'I-11181'
 'I-30092' 'I-29389' 'I-6775' 'I-4970' 'I-4271' 'I-4971' 'I-2854' 'I-4473'
 'I-4472' 'I-4973' 'I-65741' 'I-63697' 'I-1207' 'I-4495' 'I-4497' 'I-3118'
 'I-3119' 'I-17203' 'I-6872' 'I-4507' 'I-3130' 'I-3133' 'I-3141' 'I-38906'
 'I-53706' 'I-3619' 'I-72463' 'I-2567' 'I-23336' 'I-3143' 'I-11556'
 'I-72464' 'I-4515' 'I-4516' 'I-3144' 'I-7935' 'I-3145' 'I-3146' 'I-3149'
 'I-3148' 'I-34065' 'I-73836' 'I-7769' 'I-11661' 'I-72216' 'I-73834'
 'I-73835' 'I-4521' 'I-32246' 'I-47657' 'I-56745' 'I-72009' 'I-4535'
 'I-4531' 'I-43648' 'I-4538' 'I-73415' 'I-4546' 'I-63874' 'I-67659'
 'I-72414' 'I-73349' 'I-8060' 'I-4550' 'I-4555' 'I-4557' 'I-4556' 'I-3159'
 'I-11214' 'I-11213' 'I-3620' 'I-4589' 'I-4572' 'I-4590' 'I-11048'
 'I-73347' 'I-4593' 'I-56920' 'I-3621' 'I-4598' 'I-4605' 'I-7953'
 'I-23949' 'I-2055' 'I-71998' 'I-14181' 'I-2245' 'I-2119' 'I-51962'
 'I-2122' 'I-15033' 'I-17616' 'I-66118' 'I-14179' 'I-11240' 'I-2140'
 'I-2141' 'I-17617' 'I-2146' 'I-17618' 'I-3961' 'I-3999' 'I-65787'
 'I-4007' 'I-4008' 'I-4010' 'I-4016' 'I-19665' 'I-37478' 'I-37477'
 'I-51441' 'I-41492' 'I-41491' 'I-5975' 'I-3622' 'I-3623' 'I-3624'
 'I-72758' 'I-3120' 'I-3222' 'I-40940' 'I-65714' 'I-65852' 'I-2979'
 'I-3625' 'I-5977' 'I-44472' 'I-11215' 'I-3628' 'I-2980' 'I-40951'
 'I-3225' 'I-3223' 'I-3226' 'I-12823' 'I-37965' 'I-3629' 'I-50750'
 'I-3229' 'I-18791' 'I-71999' 'I-3231' 'I-57554' 'I-71858' 'I-4979'
 'I-2217' 'I-65801' 'I-65802' 'I-2205' 'I-29690' 'I-3241' 'I-4626'
 'I-4628' 'I-4347' 'I-3630' 'I-73579' 'I-17051' 'I-42360' 'I-3631'
 'I-9832' 'I-11902' 'I-4637' 'I-32268' 'I-46598' 'I-68700' 'I-2159'
 'I-2157' 'I-2156' 'I-68699' 'I-2167' 'I-4642' 'I-4640' 'I-1197' 'I-19561'
 'I-3284' 'I-11233' 'I-19631' 'I-6428' 'I-41037' 'I-3290' 'I-11189'
 'I-9641' 'I-70737' 'I-73578' 'I-2603' 'I-73346' 'I-2611' 'I-4653'
 'I-11207' 'I-4657' 'I-3632' 'I-51440' 'I-4658' 'I-3633' 'I-4660' 'I-3079'
 'I-72755' 'I-4665' 'I-3303' 'I-69064' 'I-28899' 'I-2306' 'I-2308'
 'I-71921' 'I-17666' 'I-4508' 'I-4620' 'I-4341' 'I-4695' 'I-4708' 'I-4724'
 'I-4772' 'I-4847' 'I-4983' 'I-4848' 'I-4917' 'I-4919' 'I-3321' 'I-49128'
 'I-10503' 'I-45297' 'I-47441' 'I-4696' 'I-1813' 'I-1759' 'I-6443'
 'I-1820' 'I-63091' 'I-1821' 'I-1814' 'I-13254' 'I-4698' 'I-52598'
 'I-10282' 'I-11216' 'I-17932' 'I-3337' 'I-72303' 'I-43653' 'I-11312'
 'I-4703' 'I-6876' 'I-4709' 'I-2893' 'I-3340' 'I-3341' 'I-4463' 'I-4690'
 'I-4693' 'I-4844' 'I-4915' 'I-4712' 'I-1271' 'I-11664' 'I-15032'
 'I-71503' 'I-5003' 'I-3345' 'I-3636' 'I-60772' 'I-3348' 'I-3351' 'I-3352'
 'I-71922' 'I-60809' 'I-8058' 'I-2208' 'I-69627' 'I-3360' 'I-3363'
 'I-5009' 'I-9342' 'I-3358' 'I-6780' 'I-8395' 'I-8340' 'I-4725' 'I-4729'
 'I-4731' 'I-4732' 'I-4735' 'I-4736' 'I-4737' 'I-3365' 'I-3367' 'I-2897'
 'I-3368' 'I-3369' 'I-3370' 'I-71960' 'I-14278' 'I-7912' 'I-73417'
 'I-19295' 'I-72202' 'I-3083' 'I-3089' 'I-3372' 'I-7911' 'I-30178'
 'I-22224' 'I-3702' 'I-72053' 'I-10866' 'I-8077' 'I-3381' 'I-3638'
 'I-52622' 'I-3182' 'I-43864' 'I-56382' 'I-3386' 'I-3387' 'I-3388'
 'I-6006' 'I-3390' 'I-71926' 'I-11241' 'I-3395' 'I-7062' 'I-71931'
 'I-6829' 'I-4745' 'I-3639' 'I-4743' 'I-4375' 'I-10149' 'I-4679' 'I-6779'
 'I-17150' 'I-5010' 'I-4757' 'I-4750' 'I-5011' 'I-4761' 'I-4764' 'I-4765'
 'I-4766' 'I-3314' 'I-2911' 'I-30911' 'I-3243' 'I-71934' 'I-3640' 'I-3641'
 'I-5978' 'I-4776' 'I-4775' 'I-71859' 'I-5970' 'I-3408' 'I-3416' 'I-30144'
 'I-2648' 'I-3424' 'I-3425' 'I-7766' 'I-37475' 'I-2850' 'I-48542' 'I-3429'
 'I-11814' 'I-16215' 'I-9687' 'I-3431' 'I-72515' 'I-3433' 'I-3434'
 'I-11813' 'I-3435' 'I-43559' 'I-2654' 'I-5012' 'I-11656' 'I-2656'
 'I-35685' 'I-4895' 'I-3643' 'I-2051' 'I-6812' 'I-3642' 'I-3644' 'I-3447'
 'I-3449' 'I-3581' 'I-3450' 'I-7787' 'I-3647' 'I-3646' 'I-42230' 'I-3649'
 'I-40458' 'I-22444' 'I-72760' 'I-4785' 'I-4786' 'I-35792' 'I-4787'
 'I-4788' 'I-30068' 'I-4410' 'I-4792' 'I-4795' 'I-4796' 'I-4797' 'I-2659'
 'I-3454' 'I-62556' 'I-1126' 'I-4799' 'I-4800' 'I-30101' 'I-3458' 'I-1033'
 'I-1035' 'I-1131' 'I-35897' 'I-49022' 'I-28904' 'I-73838' 'I-73840'
 'I-9284' 'I-3854' 'I-3857' 'I-16217' 'I-2681' 'I-72219' 'I-72220'
 'I-4819' 'I-8374' 'I-57557' 'I-3588' 'I-3468' 'I-6882' 'I-3016' 'I-15329'
 'I-11186' 'I-11185' 'I-3471' 'I-4830' 'I-42143' 'I-11432' 'I-3476'
 'I-3477' 'I-3478' 'I-4429' 'I-3651' 'I-72199' 'I-5048' 'I-11101' 'I-5005'
 'I-13226' 'I-2314' 'I-71745' 'I-4852' 'I-6466' 'I-3497' 'I-6026'
 'I-12176' 'I-13302' 'I-2769' 'I-2771' 'I-71851' 'I-9379' 'I-45114'
 'I-10864' 'I-3520' 'I-37469' 'I-73610' 'I-7705' 'I-3530' 'I-2698'
 'I-2699' 'I-3531' 'I-16496' 'I-3545' 'I-3553' 'I-47774' 'I-63875'
 'I-3563' 'I-22026' 'I-60805' 'I-3575' 'I-19657' 'I-27407' 'I-17667'
 'I-13303' 'I-3910' 'I-3577' 'I-16168' 'I-3583' 'I-73411' 'I-37476'
 'I-40942' 'I-11211' 'I-3312' 'I-40944' 'I-3591' 'I-3590' 'I-19143'
 'I-3589' 'I-4894' 'I-17610' 'I-3595' 'I-2319' 'I-72201' 'I-62665'
 'I-72196' 'I-72412' 'I-2755' 'I-2254' 'I-5021' 'I-2786' 'I-19610'
 'I-4488' 'I-5022' 'I-4896' 'I-56665' 'I-4450' 'I-4509' 'I-4900' 'I-4437'
 'I-4549' 'I-4898' 'I-19978' 'I-12325' 'I-68827' 'I-6820' 'I-40936'
 'I-73413' 'I-28907' 'I-28920' 'I-4907' 'I-38431' 'I-6028' 'I-3658'
 'I-3660' 'I-35336' 'I-6810' 'I-4914' 'I-49967' 'I-3670' 'I-3671' 'I-7388'
 'I-3110' 'I-40935' 'I-44341' 'I-4920' 'I-3676' 'I-3678' 'I-3677' 'I-3679'
 'I-2948' 'I-18803' 'I-6434' 'I-17159' 'I-35791' 'I-4933' 'I-15358'
 'I-1142' 'I-9341' 'I-1152' 'I-1151' 'I-3688' 'I-7791' 'I-9295' 'I-3968'
 'I-3654' 'I-40436' 'I-9382' 'I-3692' 'I-3693' 'I-3694' 'I-3695' 'I-3696'
 'I-3697' 'I-3698' 'I-29054' 'I-5983' 'I-73324' 'I-7949' 'I-7061' 'I-7060'
 'I-10611' 'I-11180' 'I-11669' 'I-56726' 'I-6850' 'I-2171' 'I-2172'
 'I-68112' 'I-68111' 'I-4962' 'I-4967' 'I-4958']


All unique Conversions list

['' 'I-1131' 'I-1197' 'I-1759' 'I-1813' 'I-1814' 'I-1820' 'I-1821'
 'I-2159' 'I-2205' 'I-2208' 'I-2217' 'I-2254' 'I-2306' 'I-2654' 'I-3141'
 'I-3143' 'I-3144' 'I-3145' 'I-3146' 'I-3149' 'I-3159' 'I-3223' 'I-3225'
 'I-3229' 'I-3284' 'I-3321' 'I-3348' 'I-3365' 'I-3367' 'I-3370' 'I-3386'
 'I-3387' 'I-3388' 'I-3390' 'I-3435' 'I-3449' 'I-3458' 'I-3468' 'I-3497'
 'I-3545' 'I-3563' 'I-3575' 'I-3577' 'I-3589' 'I-3590' 'I-3591' 'I-3617'
 'I-3619' 'I-3620' 'I-3621' 'I-3622' 'I-3623' 'I-3624' 'I-3625' 'I-3628'
 'I-3629' 'I-3630' 'I-3631' 'I-3632' 'I-3633' 'I-3636' 'I-3638' 'I-3639'
 'I-3640' 'I-3641' 'I-3642' 'I-3643' 'I-3644' 'I-3646' 'I-3647' 'I-3649'
 'I-3651' 'I-3654' 'I-3658' 'I-3660' 'I-3670' 'I-3671' 'I-3676' 'I-3678'
 'I-3679' 'I-3692' 'I-3695' 'I-3698' 'I-3854' 'I-4271' 'I-4341' 'I-4347'
 'I-4375' 'I-4450' 'I-4472' 'I-4473' 'I-4507' 'I-4557' 'I-4593' 'I-4598'
 'I-4620' 'I-4626' 'I-4628' 'I-4640' 'I-4679' 'I-4690' 'I-4693' 'I-4698'
 'I-4709' 'I-4712' 'I-4736' 'I-4745' 'I-4761' 'I-4764' 'I-4765' 'I-4766'
 'I-4772' 'I-4844' 'I-4894' 'I-4915' 'I-5977' 'I-5983' 'I-6006' 'I-6443'
 'I-6775' 'I-6812' 'I-7060' 'I-7061' 'I-8058' 'I-8060' 'I-9295' 'I-10149'
 'I-11656' 'I-11664' 'I-13302' 'I-13303' 'I-14181' 'I-16217' 'I-17203'
 'I-17616' 'I-17618' 'I-18803' 'I-22026' 'I-23336' 'I-27407' 'I-40935'
 'I-43559' 'I-45114' 'I-49967' 'I-56382' 'I-60809' 'I-65787']

In [43]:
# Here we have the number of items in the list that are a part of the "all_id_list" but not part of the "all_conv_list"
missing_conv_id = []

for item in all_id_list:
    if item not in all_conv_list:
        missing_conv_id.append(item)
        
missing_conv_id
print(len(missing_conv_id))

455

In [44]:
Conversions.shape

(279, 6)

In [45]:
Conversions.loc[Conversions["ConversionId"] == "I-29389"]

Empty DataFrame
Columns: [ConversionId, Multiplier, ConvertFromQty, ConvertFromUom, ConvertToQty, ConvertToUom]
Index: []

In [46]:
Conversions.dtypes

ConversionId      object
Multiplier        object
ConvertFromQty    object
ConvertFromUom    object
ConvertToQty      object
ConvertToUom      object
dtype: object

In [47]:
# Save the dataframe to csv
path = os.path.join(os.getcwd(), "data", "preprocessed", "Conversions_List.csv")
Conversions.to_csv(path, index = False, header = True)

***
## Data Summary

In [48]:
# Summary of raw data imported for evaluation
# Here we have a summary of the number of items, preps, ingredients, products, conversions

datasum = pd.DataFrame([Items.shape, Preps.shape, Ingredients.shape, Products.shape, Conversions.shape],
                       columns = ['count', 'columns'], 
                       index = ['Items', 'Preps', 'Ingredients', 'Products', 'Conversions'])
datasum

             count  columns
Items          602        7
Preps          650        5
Ingredients   4497        6
Products       302        3
Conversions    279        6